if SHIELD_SILIKEYS_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Silikeys"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SILIKEYS_LEFT || SHIELD_SILIKEYS_RIGHT

config ZMK_SPLIT
    default y

endif